// General Settings
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Typography
body {
  font-family: sans-serif;
  max-width: 1200px;
}
h1,
h2 {
  margin: 20px 0;
}
h3 {
  margin: 0 0 10px;
  color: #9f69d5;
}
p {
  padding-bottom: 20px;
}

// Body Section Styles
button.start {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid #9f69d5;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #9f69d5;
  font-size: 16px;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    background-color: #f7f4a6;
  }
  &:focus {
    outline: none;
  }

  &.hide {
    display: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}

// Main
.list-posts {
  width: calc(100% - 300px);

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  li {
    display: block;
    border: 1px solid #9f69d5;
    background-color: #ffffff;
    padding: 10px;
    word-wrap: break-word;
    position: relative;
    .like,
    .unlike {
      color: #fe43b3;
      font-size: 20px;
      font-family: system-ui;
      cursor: pointer;
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.list-like {
  position: fixed;
  top: 57px;
  right: 0;
  width: 300px;
  background-color: #eee;
  padding: 0 20px;
  ul {
    margin-left: 20px;
  }
  li {
    margin: 20px 0;
  }
}
